@font-face{
	src: url("../fonts/Montserrat-Regular.ttf");
	font-family: "Montserrat-Regular";
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
header {
	position: fixed;
	width: 100%;
	z-index: 1;
	font-size: 16px;
	transition: all 0.4s ease-out;
}
.max-header {
	background-color: #ffffff;
	height: 100px;
}
.min-header {
	background-color: #ed1c24;
	height: 80px;
}
.container-topo {
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
	padding: 0 60px;
	display: grid;
	grid-template-areas: 
		"lgo ... nav";
	grid-template-columns: auto 1fr auto;
	align-content: center;
}
.logo {
	grid-area: lgo;
}
.logo img{
	transition: all 0.4s ease-out;
}
.max-logo img {
	width: 180px;
}
.min-logo img {
	width: 150px;
}
.nav-bar {
	grid-area: nav;
	display: grid;
	align-content: center;
}
.nav-bar ul {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 20px;
}
.nav-bar a{
	position: relative;
	font-family: "Montserrat-Regular";
	text-transform: uppercase;
	transition: all 0.4s ease-out;
	text-decoration: none;
}
.nav-bar a::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform-origin: left;
    transform: scaleX(0);
    transition: all 0.2s ease-out;
    
}
.nav-bar a:hover::before {
    transform: scaleX(1);
    
}
.nav-bar a::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform-origin: right;
    transform: scaleX(0);
    transition: all 0.2s ease-out;
    
}
.nav-bar a:hover::after {
    transform: scaleX(1);
}
.max-nav a {
	font-size: 1em;
	color: #ed1c24;
}
.min-nav a{	
	font-size: 0.875em;
	color: #ffffff;
}

main {
	font-size: 14px;
}
main section {
	display: grid;
	justify-content: center;
	/*align-content: center;*/
	font-family: "Montserrat-Regular";
	font-size: 1em;
    background-color: #ffffff;
    
}

.ghost {
    width: 100%;
    height: 100px;
 }

 .row {
    margin: 0;
 }

.quemSomos{
    background-image: url(../img/bannerQuemSomos.png); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-right: 200px;
}
.quemSomosTxt{
    text-align: left;
    padding: 100px;
}

/* Efeito parallax na imagem do Rio*/
.imgRio {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url("../img/fotoRio.jpg"); 
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: auto;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    color: #ffffff;
    align-content: center;
    height: 100vh;
}

.texto-sombra{
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);  
}


.card-img-center{
	width: 30%;
	align: center;
}

.secContatoTxt{
    text-align: left;
    padding: 100px;
}

.footerSite{
    /*position: absolute;*/
    /*bottom: 0px;*/
    /*width: 100%;*/
    text-align: center;
/*    align: center;*/
    background-color: #ed1c24;
    color: #ffffff;

   /* height: 100px;*/
}



.facebook-icon {
  color: #3b5998;
  background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
  background-size: 55%;
  background-position: 70% 0;
  background-repeat: no-repeat;
}

.instagram-icon {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}


.whatsapp-icon  {
  color: #fff;
  background: linear-gradient(#25d366,#25d366)10px 84%/10px 15px no-repeat, radial-gradient(#25d366 60%,transparent 0);
}


/* MOBILE */
@media(max-width: 768px) {
    header{
        font-size: 10px;
    }

    .max-header {
        height: 100px;
    }
    .min-header {
        height: 80px;
    }
    .container-topo {
        position: relative;
        padding: 0 20px;
        grid-template-areas:
            "lgo ... mnu";
    }
    .max-logo img {
        width: 100px;
    }
    .min-logo img {
        width: 80px;
    }
    .menu {
        grid-area: mnu;
        display: grid;
        align-content: center;
    }
    .hamburger {
        position: relative;
        width: 28px;
        height: 3px;
        transition: all 0.4s ease-out;
    }
    .hamburger::before {
        content: "";
        position: absolute;
        top: -8px;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.4s ease-out;
    }
    .hamburger::after {
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.4s ease-out;
    }
    .max-hamburger, .max-hamburger::before, .max-hamburger::after {
        background-color: #ed1c24;
    }
    .min-hamburger, .min-hamburger::before, .min-hamburger::after {
        background-color: #000000;
    }
    .close-btn {
        width: 32px;
        transform: rotateZ(45deg);
    }
    .close-btn::before, .close-btn::after {
        top: 0;
        transform: rotateZ(90deg);
    }
    .nav-bar {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #ffcdd2;
        transform: translateX(-100%);
        transition: all 0.4s ease-out;
    }
    .max-nav {
        top: 80px;
        height: calc(100vh - 80px);
    }
    .min-nav {
        top: 60px;
        height: calc(100vh - 60px);
    }
    .menu-opened {
        transform: translateX(0);
    }
    .nav-bar ul {
        justify-content: center;
        grid-auto-flow: row;
        grid-gap: 80px;
    }
    .nav-bar li {
        text-align: center;
    }
    .min-nav a {
        font-size: 1em;
        color: #c5eff7;
    }

}
